
<div class="box-login">
        @if (userPassword != null)
        {
            <div class="txt_login">
                <label>URL:</label>
                <input @bind-value="userPassword.URL" placeholder="@userPassword.URL" class="input_login form-control col-sm-6 col-md-4" />
            </div>
            <div class="txt_login">
                <label>Name:</label>
                <input @bind-value="userPassword.Name" placeholder="@userPassword.Name" class="input_login form-control col-sm-6 col-md-4" />
            </div>
            <div class="txt_login">
                <label>Folder:</label>
                <input @bind-value="userPassword.Folder" placeholder="@userPassword.Folder" class="input_login form-control col-sm-6 col-md-4" />
            </div>
            <div class="txt_login">
                <label>Username:</label>
                <input @bind-value="userPassword.Username" placeholder="@userPassword.Username" class="input_login form-control col-sm-6 col-md-4" />
            </div>
            <div class="txt_login">
            <label>Password:</label>
                <input @bind-value="userPassword.Password" placeholder="@userPassword.Username" class="input_login form-control col-sm-6 col-md-4" />
            </div>
            <div class="txt_login">
                <label>Notes:</label>
                <input @bind-value="userPassword.Notes" placeholder="@userPassword.Notes" class="input_login form-control col-sm-6 col-md-4" />
            </div>
             <button class="btn btn-danger" style="margin: 0 75px;" @onclick="Cancel">Cancel</button>
            <button class="btn btn-primary" style="margin: 0 75px;" @onclick="EditPassword">Edit</button>
    }
    else
    {
         <div class="txt_login">
                <label>URL:</label>
                <input @bind-value="UserPassword.URL"  class="input_login form-control col-sm-6 col-md-4" />
            </div>
            <div class="txt_login">
                <label>Name:</label>
                <input @bind-value="UserPassword.Name" class="input_login form-control col-sm-6 col-md-4" />
            </div>
            <div class="txt_login">
                <label>Folder:</label>
                <input @bind-value="UserPassword.Folder" class="input_login form-control col-sm-6 col-md-4" />
            </div>
            <div class="txt_login">
                <label>Username:</label>
                <input @bind-value="UserPassword.Username" class="input_login form-control col-sm-6 col-md-4" />
            </div>
            <div class="txt_login">
            <label>Password:</label>
                <input @bind-value="UserPassword.Password" class="input_login form-control col-sm-6 col-md-4" />
            </div>
            <div class="txt_login">
                <label>Notes:</label>
                <input @bind-value="UserPassword.Notes" class="input_login form-control col-sm-6 col-md-4" />
            </div>
            <button class="btn btn-danger" @onclick="Cancel" style="margin: 0 75px;">Cancel</button>
            <button class="btn btn-primary" @onclick="SubmitForm" style="margin: 0 75px;">Save</button>
    }
</div>

